docs-llm-pkg/
docs_llm_scraper/logs/bad_urls.txt
docs_llm_scraper/exporter/__pycache__/package_exporter.cpython-312.pyc
docs_llm_scraper/cleaner/__pycache__/html_cleaner.cpython-312.pyc
docs_llm_scraper/exporter/__pycache__/package_exporter.cpython-312.pyc
docs_llm_scraper/logs/bad_urls.txt
*.pyc
__pycache__
*.html
<typer.models.OptionInfo object at 0x7f9cdb8ed400>/llms.txt
*.txt
*.whl
.env
*.md
output-md/raw_html
llama_docs/
**/.claude/settings.local.json
page_info.json
parent_map.json
urls_map.jsonl
page_hierarchy.json